        {% block content %}
            {% if form.errors %}
                <p> Sorry, that's not a valid username or password</p>
            {% endif %}
        {% endblock %}
        
        <form action="/accounts/auth" method="post">
            {% csrf token %}
            <label for="username">Username</label>
            <input type="text" name="username" value="" id="username">
            <label for="password">Password</label>
            <input type="text" name="password" value="" id="password">
            <input type="submit" value="login" />
        </form>
    
