<html>
<head>
	<title> Malaria </title>
</head>
<body>
    {% include "header.html" %}
    <br><br><br><br><br><br>
    <p>Here the posts would be shown as a list</p>
    {% for post in all_posts %}
    <li><a href="/view_post/?key={{post.id}}">{{post.title_post}}</a><button type="button" onclick="window.location.href='/edit_post_page/?key={{post.id}}'">Edit</button>
<button type="button" onclick="window.location.href='/delete_post/?postid={{post.id}}'">Delete</button>
    </li>
    {% endfor %}
    <button type="button" onclick="window.location.href='/post_form/'">New Post</button>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% include "footer.html" %}
    
</body>
</html>
